
<h3><%= link_to "Back to #{@artist.full_name}", artist_path(@artist) %></h3>

<h1><%= @song.name %></h1>
<h2> Genre:<%= @song.genre%></h2>
<%= link_to 'Add Comment', new_song_comment_path(@song)%>

<% @song.comments.each do |comment|%>
  <%= render 'comments/comment', {comment: comment}%>
<% end %>

